/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .button-group button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 4px;
    font-size: 16px;
  }

  .button-group button:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 480px) {
    .container {
      max-width: 300px;
    }
  } */









  body {

    background-color: #f8f9fa;
  
    background-image: url(/images/bus1.jpg);
  
    background-size: cover;
  
  }
  
  .container {
  
    width: 70%;
  
    border: 1px solid #ccc;
  
    padding: 20px;
  
    margin-top: 120px;
  
    background-color: #cce9ed;
  
    border-radius: 10px;
  
   
  
  }
  
  
  
  
  .btn-container {
  
   
  
  
  
  
    display: flex;
  
    justify-content: center;
  
    flex-wrap: wrap;
  
  }
  
  
  
  
  .btn-container button {
  
    flex-basis: 45%;
  
    height: 150px;
  
    margin-bottom: 20px;
  
    margin-right: 20px;
  
    transition: all 0.3s ease;
  
  }
  
  
  
  
  .btn-container button:hover {
  
    transform: scale(1.1);
  
  }
  
  .logo {
  
  
  
  
    width: 150px;
  
    height: 150px;
  
    position: absolute;
  
    top: 0;
  
    left: 0;
  
    margin-left: 30px;
  
     
  
  }
  
  .logout-container {
  
    position: absolute;
  
    top: 20px;
  
    right: 20px;
  
  }
  
  
  
  
  
  .logout-button {
  
    background-color: #dc3545;
  
    color: #fff;
  
    border: none;
  
    padding: 10px 20px;
  
    border-radius: 4px;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease;
  
    outline: none;
  
   
  
  }
  
  
  
  
  .logout-button:hover {
  
    background-color: #c82333;
  
    outline: none;
  
  }