<!-- <div class="container">
    <h1>Add Bus</h1>
      <input type="text" placeholder="Bus Name"  required [(ngModel)]="busName">
      <input type="text" placeholder="Total Seats"  required [(ngModel)]="totalSeats">
      <input type="text" placeholder="Bus Number"  required [(ngModel)]="busNumber">
        <input type="text" placeholder="Reg Number"  required [(ngModel)]="regNo">
        <input type="text" placeholder="Engine Number" required [(ngModel)]="engineNumber">
      <select name="busType" id="busType"  required [(ngModel)]="busType">
        <option value="" disabled selected>Select Bus Type</option>
        <option value="AC">AC</option>
        <option value="Non-AC">Non-AC</option>
      </select>
      <button type="submit" (click)="addbus()">Add Bus</button>
  </div> -->


  <body>

    <div class="top-container">
  
      <div class="row">
  
        <div class="col-md-12">
  
          <div class="nav">
  
            <div class="row justify-content-between">
  
              <div class="col-md-6">
  
                <img src="../../assets/image/logo (2).png" alt="Logo" class="logo">
  
              </div>
  
              <div class="col-md-6 search-bar">
  
                <input type="text" class="form-control" placeholder="Search">
  
                <i class="fa fa-search search-icon"></i>
  
                <button class="btn btn-primary search-button">Search</button>
  
               
  
              </div>
  
            </div>
  
            <div class="logout-container">
  
            <a href="www.facebook.com" class="user-profile">
  
              <img src="https://tse4.mm.bing.net/th/id/OIP.scExuNqSeL_zvoAQbH0gWAHaHa?pid=ImgDet&rs=1" alt="User Image" class="user-image rounded-circle">
  
            </a>
  
            <button class="logout-button">Logout</button>
  
          </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="row">
  
      <div class="col-md-6 offset-md-3">
  
        <div class="form-container">
  
          <form>
  
            <div class="form-row">
  
              <div class="form-group col-md-6">
  
                <label for="bus-id">Bus Name</label>
  
                <input type="text" class="form-control" id="bus-id">
  
              </div>
  
              <div class="form-group col-md-6">
  
                <label for="bus-name">Total seats</label>
  
                <input type="text" class="form-control" id="bus-name">
  
              </div>
  
            </div>
  
            <div class="form-row">
  
              <div class="form-group col-md-6">
  
                <label for="source">Type</label>
  
                <select class="form-control" id="source">
  
                  <option value="option1">AC</option>
  
                  <option value="option2">NON-AC</option>
  
                </select>
  
              </div>
  
              <div class="form-group col-md-6">
  
                <label for="bus-name">Bus No</label>
  
                <input type="text" class="form-control" id="bus-name">
  
              </div>
  
            </div>
  
            <div class="form-row">
  
              <div class="form-group col-md-6">
  
                <label for="bus-name">Reg No</label>
  
                <input type="text" class="form-control" id="bus-name">
  
              </div>
  
              <div class="form-group col-md-6">
  
                <label for="bus-name">Engine No</label>
  
                <input type="text" class="form-control" id="bus-name">
  
              </div>
  
            </div>
  
  
  
  
            <div class="text-center">
  
              <button type="submit" class="btn btn-primary">Add</button>
  
            </div>
  
          </form>
  
        </div>
  
      </div>
  
    </div>
  
  
  
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
  
  </body>