

  <div class="top-container">

    <div class="row">

      <div class="col-md-12">

        <div class="nav">

          <div class="col-md-6 logo-container">

            <img src="../../assets/image/logo (2).png" alt="Logo" class="logo">

          </div>

          <div class="col-md-6 search-bar">

            <div class="nav-links">

              <ul>

                <li class="nav-link-item"><i class="fas fa-home fa-lg"></i><a href="#">Home</a></li>

                <li class="nav-link-item"><i class="fas fa-info-circle fa-lg"></i><a href="#about">About</a></li>

                <li class="nav-link-item"><i class="fas fa-envelope fa-lg"></i><a href="#contact">Contact Us</a></li>

              </ul>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>




