html,body{

    margin: 0;

    padding: 0;

    overflow: hidden;

}

body{

    background-color: #f8f9fa;

    background-size: cover;

}

   

.top-container {

    height: 120px;

    padding: 20px;

    background-color: #cce9ed;

    padding-top: 10px;

 

  }




  .nav {

     

    display: flex;

    justify-content: space-between;

    align-items: center;

  }




  .logo {

     

    height: 130px;

    width: 130px;

  }

  .logo-container{

    padding-bottom: 30px;

  }

  .nav-links{

      margin-bottom: 50px;

     

  }

  .nav-link-item a i {

    margin-right: 5px;

    margin-top:2px;

  }

  .nav-link-item a i {

    color: #98dfe9;

    margin-right: 10px;

  }

 

  .nav-links ul {

    display: flex;

    justify-content: flex-end;

    padding: 0;

  }




  .nav-link-item {

    margin-right: 80px;

    list-style: none;

  }




  .nav-link-item a {

    color: rgb(0, 0, 0);

  text-decoration: none;

  font-weight:lighter;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  font-size: 17px;

  padding: 5px 10px;

 

  }




  .nav-link-item a:hover {

    color: #5383b6;

  }

  .form-control{

      width:370px;

      height:.8cm;

      outline: none;

      border: none;

      border-radius: 4px;

  }